
{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a onclick="$('#form').submit();" class="btn btn-primary" title="{{ button_save }}"><i
                            class="fa fa-save"></i></a>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" id="form" class="form-horizontal">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#profileInfo" data-toggle="tab" aria-expanded="false">
                                <i class="fa fa-file-code-o"></i> Profile Info
                            </a></li>
                        <li><a href="#profileCategory" data-toggle="tab">
                                <i class="fa fa-gears"></i> Category Mapping
                            </a></li>
                        <li><a href="#profileAttributes" data-toggle="tab">
                                <i class="fa fa-wrench"></i> Attribute Mapping
                            </a></li>
                        <li><a href="#profileEbaySettings" data-toggle="tab">
                                <i class="fa fa-info-circle"></i> Ebay Settings
                            </a></li>
                        <li><a href="#profileEbayShipping" data-toggle="tab">
                                <i class="fa fa-truck"></i> Ebay Shipping
                            </a></li>

                    </ul>
                    <input type="hidden" name="id" id="input-id" value="{{ id }}"/>
                    <div class="tab-content">
                        <div class="tab-pane active" id="profileInfo">

                            <div class="form-group required">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ entry_profile_name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="profile_name" id="input-title" value="{{ profile_name }}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-status">{{ column_status }}</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-control">
                                        {% if (status) %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ entry_description_template }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[description_template]"   class="form-control">
                                        <option value=""></option>
                                        {% if (description_templates) %}
                                            {% for desc_template in description_templates %}
                                                <option value="{{ desc_template['id'] }}"
                                                        {% if (profile_specifics['description_template'] is defined and profile_specifics['description_template'] == desc_template['id']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ desc_template['template_name'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"
                                       for="input-manufacturer">{{ entry_manufacturer }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="manufacturer" value="" id="input-manufacturer"
                                           class="form-control"/>

                                    <div id="product_manufacturer" class="well well-sm"
                                         style="height: 150px; overflow: auto;">
                                        {% for product_manufacturer in product_manufacturers %}
                                            <div id="product_manufacturer{{ product_manufacturer['manufacturer_id'] }}">
                                                <i class="fa fa-minus-circle"></i> {{ product_manufacturer['name'] }}
                                                <input type="hidden" name="product_manufacturer[]"
                                                       value="{{ product_manufacturer['manufacturer_id'] }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profileCategory">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group required">
                                        <label class="col-sm-3 control-label"
                                               for="input-category">{{ entry_category }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="category" value="" id="input-category"
                                                   class="form-control"/>
                                            <div id="product-category" class="well well-sm"
                                                 style="height: 150px; overflow: auto;">
                                                {% for product_category in product_categories %}
                                                    <div id="product-category{{ product_category['category_id'] }}">
                                                        <i class="fa fa-minus-circle"></i> {{ product_category['name'] }}
                                                        <input type="hidden" name="product_category[]"
                                                               value="{{ product_category['category_id'] }}"/>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-12" id="ebay-category">

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="profileDefaultAttributes">

                        </div>
                        <div class="tab-pane" id="profileAttributes">
                            <div id="profile_attribute_mapping_section">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr style="">
                                        <td colspan="3">
                                            <div style="font-size: 16px; text-align: center; padding: 5px;">Ebay
                                                Required/Optional Attributes Mapping
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">
                                            <label for="input-ebay-attributes">Ebay Attributes</label>
                                        </td>
                                        <td style="text-align: center">
                                            <label for="input-store-attributes">Store Attributes</label>
                                        </td>
                                        <td style="text-align: center">
                                            <label for="input-default-values">Set Default Value</label>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody id="profile_attribute_mapping_section">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="profileEbaySettings">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_listing_type }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[listing_type]"   class="form-control">
                                        {% if (listing_type and (listing_type|length)) %}
                                            {% for type in listing_type %}
                                                <option value="{{ type['value'] }}"
                                                        {% if (profile_specifics['listing_type'] is defined and profile_specifics['listing_type'] == type['value']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ type['label'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_item_condition }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[item_condition]"   class="form-control">
                                        {% if (item_conditions and (item_conditions|length)) %}
                                            {% for condition in item_conditions %}
                                                <option value="{{ condition['ID'] }}"
                                                        {% if (profile_specifics['item_condition'] is defined and profile_specifics['item_condition'] == condition['ID']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ condition['DisplayName'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_listing_duration }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[listing_duration]"   class="form-control">
                                        {% if (listing_durations and (listing_durations|length)) %}
                                            {% for duration in listing_durations %}
                                                <option value="{{ duration['value'] }}"
                                                        {% if (profile_specifics['listing_duration'] is defined and profile_specifics['listing_duration'] == duration['value']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ duration['label'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_item_location }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="profile_specifics[item_location]" id="" value="{% if (profile_specifics['item_location'] is defined) %} {{ profile_specifics['item_location'] }} {% endif %}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_postal_code }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="profile_specifics[postal_code]" id="" value="{% if (profile_specifics['postal_code'] is defined) %} {{ profile_specifics['postal_code'] }} {% endif %}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_max_dispatch_time }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="profile_specifics[max_dispatch_time]" id="" value="{% if (profile_specifics['max_dispatch_time'] is defined) %} {{ profile_specifics['max_dispatch_time'] }} {% endif %}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_payment_methods }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[payment_methods][]"  multiple="multiple" size="6" class="form-control">
                                        {% if (payment_methods and (payment_methods|length)) %}
                                            {% for method in payment_methods %}
                                                <option value="{{ method }}"
                                                        {% if (profile_specifics['payment_methods'] is defined and (method in profile_specifics['payment_methods'] |keys)) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ method }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_paypal_email }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="profile_specifics[paypal_email]" id="" value="{% if (profile_specifics['paypal_email'] is defined) %} {{ profile_specifics['paypal_email'] }} {% endif %}"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_return_accepted }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[return_accepted]"   class="form-control">
                                        {% if (return_accepted and (return_accepted|length)) %}
                                            {% for key,ret_acc in return_accepted %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['return_accepted'] is defined and profile_specifics['return_accepted'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_refund_option }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[refund_option]"   class="form-control">
                                        {% if (refund_options and (refund_options|length)) %}
                                            {% for key,ret_acc in refund_options %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['refund_option'] is defined and profile_specifics['refund_option'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_return_within }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[return_within]"   class="form-control">
                                        {% if (return_within and (return_within)) %}
                                            {% for key,ret_acc in return_within %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['return_within'] is defined and profile_specifics['return_within'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_shipping_cost_paidby }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[shipping_cost_paidby]"   class="form-control">
                                        {% if (shipping_cost_paidby and (shipping_cost_paidby|length)) %}
                                            {% for key,ret_acc in shipping_cost_paidby %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['shipping_cost_paidby'] is defined and profile_specifics['shipping_cost_paidby'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_shipping_service_type }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[shipping_service_type]"   class="form-control">
                                        {% if (shipping_service_type and (shipping_service_type|length)) %}
                                            {% for type in shipping_service_type %}
                                                <option value="{{ type['value'] }}"
                                                        {% if (profile_specifics['shipping_service_type'] is defined and profile_specifics['shipping_service_type'] == type['value']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ type['label'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_free_shipping }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[free_shipping]"   class="form-control">
                                        {% if (free_shipping and (free_shipping|length)) %}
                                            {% for key,ret_acc in free_shipping %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['free_shipping'] is defined and profile_specifics['free_shipping'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profileEbayShipping">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_shipping_service_type }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[shipping_service_type]"   class="form-control">
                                        {% if (shipping_service_type and (shipping_service_type)) %}
                                            {% for type in shipping_service_type %}
                                                <option value="{{ type['value'] }}"
                                                        {% if (profile_specifics['shipping_service_type'] is defined and profile_specifics['shipping_service_type'] == type['value']) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ type['label'] }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 control-label"
                                       for="input-title">{{ label_free_shipping }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[free_shipping]"   class="form-control">
                                        {% if (free_shipping and (free_shipping|length)) %}
                                            {% for key,ret_acc in free_shipping %}
                                                <option value="{{ key }}"
                                                        {% if (profile_specifics['free_shipping'] is defined and profile_specifics['free_shipping'] == key) %}
                                                            selected="selected"
                                                        {% endif %}
                                                >
                                                    {{ ret_acc }}</option>
                                            {% endfor %}     {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ label_domestic_shipping }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[enable_domestic_shipping]" id="enable_domestic_shipping" class="form-control" onchange="enableDomesticShipping()">
                                        {% if (profile_specifics['enable_domestic_shipping'] is defined and profile_specifics['enable_domestic_shipping']) %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="domestic_shipping_container">
                                <div class="bootstrap">
                                    <div class="alert alert-info" >
                                        <span id="">Add Upto 4 Domestic Shipping Rules</span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <table class="table table-bordered" id="domestic_shipping">
                                        <thead>
                                        <tr class="headings">
                                            <th>{{ label_shipping_service }}</th>
                                            <th>{{ label_shipping_cost }}</th>
                                            <th>{{ label_additional_cost }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if (profile_specifics['domestic_shipping'] is defined and (profile_specifics['domestic_shipping'])) %}
                                            {% for key,dom_shipping in profile_specifics['domestic_shipping'] %}
                                                <tr>
                                                    <td>
                                                        <select class="form-control" name="profile_specifics[domestic_shipping][{{ key }}][shipping_service]">
                                                            {% for dom_service in domestic_shipping_services %}
                                                                <option
                                                                        {% if (dom_shipping['shipping_service'] == dom_service['value']) %}
                                                                            selected="selected"
                                                                        {% endif %}
                                                                        value="{{ dom_service['value'] }}">{{ dom_service['label'] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="shipping_cost_{{ key }}"
                                                               value="{% if (dom_shipping['shipping_cost'] is defined) %} {{ dom_shipping['shipping_cost'] }} {% endif %}"
                                                               placeholder="{{ label_shipping_cost }}"
                                                               onkeypress="numberValidate(event, this)"
                                                               name="profile_specifics[domestic_shipping][{{ key }}][shipping_cost]"
                                                               style="width:50%;"

                                                        />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="additional_cost_{{ key }}"
                                                               value="{% if (dom_shipping['additional_cost'] is defined) %} {{ dom_shipping['additional_cost'] }} {% endif %}"
                                                               placeholder="{{ label_additional_cost }}"
                                                               onkeypress="numberValidate(event, this)"
                                                               name="profile_specifics[domestic_shipping][{{ key }}][additional_cost]"
                                                               style="width:50%;"

                                                        />
                                                    </td>
                                                    <td>
                                                        <button class='btn btn-danger' onclick='deleteRow(this)'>
                                                            <i class='fa fa-eraser'></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <table>
                                        <tr>
                                            <td colspan="3" class="text-right">
                                                <button id="addToEndBtn" class="btn btn-primary" type="button" onclick=
                                                "addDomShippingRule()" style="">
                                                    <i class="icon-plus-sign-alt"></i>
                                                    <span>Add Rule</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ label_int_shipping }}</label>
                                <div class="col-sm-10">
                                    <select name="profile_specifics[enable_international_shipping]" id="enable_international_shipping" class="form-control" onchange="enableIntShipping()">
                                        {% if (profile_specifics['enable_international_shipping'] is defined and profile_specifics['enable_international_shipping']) %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="international_shipping_container">
                                <div class="bootstrap">
                                    <div class="alert alert-info" >
                                        <span id="">Add Upto 5 International Shipping Rules</span>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <table class="table table-bordered" id="international_shipping">
                                        <thead>
                                        <tr class="headings">
                                            <th>{{ label_shipping_service }}</th>
                                            <th>{{ label_shipping_cost }}</th>
                                            <th>{{ label_additional_cost }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if (profile_specifics['international_shipping'] is defined and (profile_specifics['international_shipping'] |length)) %}
                                            {% for key,int_shipping in profile_specifics['international_shipping'] %}
                                                <tr>
                                                    <td>
                                                        <select class="form-control" name="profile_specifics[international_shipping][{{ key }}][shipping_service]">
                                                            {% for int_service in international_shipping_services %}
                                                                <option
                                                                        {% if (int_shipping['shipping_service'] == int_service['value']) %}
                                                                            selected="selected"
                                                                        {% endif %}
                                                                        value="{{ int_service['value'] }}">{{ int_service['label'] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="shipping_cost_{{ key }}"
                                                               value="{% if (int_shipping['shipping_cost'] is defined) %} {{ int_shipping['shipping_cost'] }} {% endif %}"
                                                               placeholder="{{ label_shipping_cost }}"
                                                               onkeypress="numberValidate(event, this)"
                                                               name="profile_specifics[international_shipping][{{ key }}][shipping_cost]"
                                                               style="width:50%;"

                                                        />
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="additional_cost_{{ key }}"
                                                               value="{% if (int_shipping['additional_cost'] is defined) %} {{ int_shipping['additional_cost'] }} {% endif %}"
                                                               placeholder="{{ label_additional_cost }}"
                                                               onkeypress="numberValidate(event, this)"
                                                               name="profile_specifics[international_shipping][{{ key }}][additional_cost]"
                                                               style="width:50%;"

                                                        />
                                                    </td>
                                                    <td>
                                                        <button class='btn btn-danger' onclick='deleteRow(this)'>
                                                            <i class='fa fa-eraser'></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <table>
                                        <tr>
                                            <td colspan="3" class="text-right">
                                                <button id="addToEndBtn" class="btn btn-primary" type="button" onclick=
                                                "addIntShippingRule()" style="">
                                                    <i class="icon-plus-sign-alt"></i>
                                                    <span>Add Rule</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div id="text"> LOADING.....</div>
</div>


<script>
    var ebay_attributes = [];
    getEbayCategory(0, 1, 0);
    enableDomesticShipping();
    enableIntShipping();

    function getEbayCategory(value, current_level, isLeaf) {
        var url = 'index.php?route=extension/module/cedebay/profile/getCategory&user_token={{ user_token }}';
        if (current_level > 1 && !value) {
            document.getElementById("ebay_category_" + current_level).value = value;
            var children = document.getElementById('ebay-category');
            var elementlengh = children.childElementCount;
            for (var i = current_level; i <= elementlengh; i++) {
                document.getElementById("select-container-level-" + i).remove();
            }
            return false;
        }
        $('#ebay-overlay').show();
         var query = $.ajax({
            type: 'POST',
            url: url,
            data: {
                ebay_profile_id: $("input[name=id]").val(),
                category_id: value,
                is_leaf: isLeaf,
                level: current_level
            },
            success: function (res) {
                // try {
                var data = JSON.parse(res);
                $('#ebay-overlay').hide();
                if (current_level == 1 && data.success == false && data.message != '') {
                    document.getElementById('ebay-category').innerHTML = data.message;
                }
                if (data.success == true) {
                    createNewCategoryLevel(current_level, data.message);
                    if (document.getElementById("ebay_category_" + current_level) &&
                        document.getElementById("ebay_category_" + current_level).value
                        && (data.success == true)) {
                        getEbayCategory(document.getElementById("ebay_category_" + current_level).value, current_level + 1, 0);
                    }
                }
                if (data.success == false && data.message == '') {
                    getCategoryAttributes(value);
                    getCategorySpecifics(value);
                }
                  // } catch (e) {
                  //     console.log(e.message);
                  //     if (document.getElementById('ebay-category')) {
                  //         document.getElementById('ebay-category').innerHTML = e.message  ;
                  //     }
                  // }

            }
        });
    }

    function createNewCategoryLevel(level, array) {
        var container_div;
        if (document.getElementById("select-container-level-" + level)) {
            container_div = document.getElementById("select-container-level-" + level);
        } else {
            container_div = document.createElement("div");
            container_div.id = "select-container-level-" + level;
        }
        container_div.style.padding = '5px';
        if (array != '<h1>Unable to fetch category</h1>') {
            var fieldset_wrapper = document.getElementById("ebay-category");
            if (fieldset_wrapper) {
                fieldset_wrapper.appendChild(container_div);
                var selectList = document.createElement("select");
                selectList.id = "ebay_category_" + level;
                selectList.name = "profile_ebay_categories[level_" + level + "]";
                selectList.className = 'required-entry input-text required-entry form-control';
                container_div.innerHTML = "";
                container_div.appendChild(selectList);
                selectList.innerHTML = array;
                $("#ebay_category_" + level).on('change', function () {
                    var isLeaf = $(this).find(':selected').attr('isLeaf');
                    if (isLeaf != 1) {
                        isLeaf = 0;
                    }
                    getEbayCategory(this.value, level + 1, isLeaf);
                });
            }
        }
        var children = document.getElementById('ebay-category');
        if (children) {
            var elementlengh = children.childElementCount;
            for (var i = level + 1; i <= elementlengh; i++) {
                document.getElementById("select-container-level-" + i).remove();
            }
        }

    }

    function getCategoryAttributes(catId) {
        var url = 'index.php?route=extension/module/cedebay/profile/getCategoryAttributes&user_token={{ user_token }}';
        if (catId != '') {
            var query = $.ajax({
                type: 'POST',
                url: url,
                data: {
                    ebay_profile_id: $("input[name=id]").val(),
                    category_id: catId,
                },
                success: function (res) {
                    try {

                        var data = JSON.parse(res);
                        if (data.success == true) {
                            var attr = data.message;
                            document.getElementById('profile_attribute_mapping_section').innerHTML = attr;
                        }
                    } catch (e) {
                        document.getElementById('profile_attribute_mapping_section').innerHTML = e.message;
                    }
                }
            });
        }
    }

    function getCategorySpecifics(catId) {
        var url = 'index.php?route=extension/module/cedebay/profile/getCategorySpecifics&user_token={{ user_token }}';
        if (catId != '') {
            var query = $.ajax({
                type: 'POST',
                url: url,
                data: {
                    ebay_profile_id: $("input[name=id]").val(),
                    category_id: catId,
                },
                success: function (res) {
                    try {
                        var data = JSON.parse(res);
                        if (data.success == true) {
                            var attr = data.message;
                            document.getElementById('profileEbaySettings').innerHTML = attr;
                        }
                    } catch (e) {
                        document.getElementById('profileEbaySettings').innerHTML = e.message;
                    }
                }
            });
        }
    }

    function changeMapping(e) {
        var code = e.getAttribute('data-id');
    }

    var profile_id = '{{ profile_id }}';

    // Manufacturer
    $('input[name=\'manufacturer\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    json.unshift({
                        manufacturer_id: 0,
                        name: '--None--'
                    });
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['manufacturer_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'product_manufacturer\']').val('');

            $('#product_manufacturer' + item['value']).remove();

            $('#product_manufacturer').append('<div id="product_manufacturer' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_manufacturer[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#product_manufacturer').delegate('.fa-minus-circle', 'click', function () {
        $(this).parent().remove();
    });
    // Store Category
    $('input[name=\'category\']').autocomplete({
        'source': function (request, response) {
            $.ajax({
                url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function (json) {
                    response($.map(json, function (item) {
                        return {
                            label: item['name'],
                            value: item['category_id']
                        }
                    }));
                }
            });
        },
        'select': function (item) {
            $('input[name=\'category\']').val('');

            $('#product-category' + item['value']).remove();

            $('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
        }
    });

    $('#product-category').delegate('.fa-minus-circle', 'click', function () {
        $(this).parent().remove();
    });
    function enableDomesticShipping() {
        var attr = $('#enable_domestic_shipping').val();
        if (attr == '1') {
            $('#domestic_shipping_container').show();
        } else {
            $('#domestic_shipping_container').hide();
        }
    }
    function enableIntShipping() {
        var attr = $('#enable_international_shipping').val();
        if (attr == '1') {
            $('#international_shipping_container').show();
        } else {
            $('#international_shipping_container').hide();
        }
    }

    function addDomShippingRule() {
        var total_row = $("#domestic_shipping tbody").find("tr").length + 1;
        var next_row = parseInt($("#domestic_shipping tbody tr:last").attr('id'),10)+1;
        if (total_row < 5) {
            var new_row = "";
            new_row += "<tr id='" + next_row + "'>";
            new_row += "<td><select class='form-control' name='profile_specifics[domestic_shipping][" + next_row + "][shipping_service]'>";
            {% for domService in domestic_shipping_services %}
            new_row+= "<option value='{{ domService["value"] }}'>{{ domService["label"] }}</option>";
            {% endfor %}
            new_row += "</select></td>";
            new_row += "<td><input class='form-control' onkeypress='numberValidate(event, this)' placeholder='Shipping Charge' class='input-text shipping_charge' id='shipping_cost_" + next_row + "' type='text' style='width:50%;'" +
                "value='' name='profile_specifics[domestic_shipping][" + next_row + "][shipping_cost]'></td>";
            new_row += "<td><input class='form-control' onkeypress='numberValidate(event, this)' placeholder='Additional Charge' class='input-text additional_charge' type='text' id='additional_cost_" + next_row + "' style='width:50%;'" +
                "value='' name='profile_specifics[domestic_shipping][" + next_row + "][additional_cost]'></td>";
            new_row += "<td><button class='btn btn-danger' onclick='deleteRow(this)'>";
            new_row += "<span><i class='fa fa-eraser'></i></span></button></td>";
            new_row += "</tr>";
            $("#domestic_shipping tbody:last-child").append(
                new_row);
        }
    }
    function addIntShippingRule() {
        var total_row = $("#international_shipping tbody").find("tr").length + 1;
        var next_row = parseInt($("#international_shipping tbody tr:last").attr('id'),10)+1;        if (total_row < 6) {
            var new_row = "";
            new_row += "<tr id='" + next_row + "'>";
            new_row += "<td><select class='form-control' name='profile_specifics[international_shipping][" + next_row + "][shipping_service]'>";
            {% for intService in international_shipping_services %}
            new_row+= "<option value='{{ intService['value'] }}'>{{ intService['label'] }}</option>";
            {% endfor %}
            new_row += "</select></td>";
            new_row += "<td><input class='form-control' onkeypress='numberValidate(event, this)' placeholder='Shipping Charge' class='input-text shipping_charge' id='shipping_cost_" + next_row + "' type='text' style='width:50%;'" +
                "value='' name='profile_specifics[international_shipping][" + next_row + "][shipping_cost]'></td>";
            new_row += "<td><input class='form-control' onkeypress='numberValidate(event, this)' placeholder='Additional Charge' class='input-text additional_charge' type='text' id='additional_cost_" + next_row + "' style='width:50%;'" +
                "value='' name='profile_specifics[international_shipping][" + next_row + "][additional_cost]'></td>";
            new_row += "<td><button class='btn btn-danger' onclick='deleteRow(this)'>";
            new_row += "<span><i class='fa fa-eraser'></i></span></button></td>";
            new_row += "</tr>";
            $("#international_shipping tbody:last-child").append(
                new_row);
        }
    }
    function deleteRow(obj)
    {
        $(obj).closest("tr").remove();
    }
    function numberValidate(event, el) {
        var attr = el.placeholder;
        const charCode = (event.which) ? event.which : event.keyCode;
        if (charCode !== 46 && charCode!== 8 && charCode!==8 && (charCode < 48 || charCode > 57)) {
            event.preventDefault();
            return false;
        }
        return true;
    }
</script>

<style>
    .form-control {
        margin-bottom: 15px;
    }
</style>
<style type="text/css">
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .required {
        /*color: red;*/
        /*font-weight: bold;*/
    }

    .option_input {
        margin: 5px 14px 0 0;
        width: 40%;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        border-radius: 3px;
        color: #555555;
        height: 35px;
        margin-bottom: 15px;
        line-height: 1.42857143;
        padding: 8px 13px;
        font-size: 12px;
    }
</style>
{{ footer }}

