{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a onclick="$('#form').submit();" class="btn btn-primary" title="{{ button_save }}"><i
                            class="fa fa-save"></i></a>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}"
                   class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if (error_warning) %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" id="form" class="form-horizontal">
                    <input type="hidden" name="id" id="input-id" value="{{ id }}"/>
                    <div class="">

                        <div class="form-group required">
                            <label class="col-sm-2 control-label"
                                   for="input-title">{{ entry_template_name }}</label>
                            <div class="col-sm-10">
                                <input type="text" name="template_name" id="input-title" value="{{ template_name }}"
                                       class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ entry_template_data }}</label>
                            <div class="col-sm-10">
                                <textarea name="template_data" rows="5" id="template_data" placeholder="{{ entry_template_data }}"  data-toggle="summernote" class="form-control summernote">{{ template_data is defined ? template_data : '' }}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-lg-3 required">
                <span class="label-tooltip" data-toggle="tooltip" data-html="true" title="Attribute" data-original-title="">
                    Attribute
                </span>
                            </label>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select class="form-control" id="template_variable_selector">
                                            <option></option>
                                            <optgroup label="Product Fields"></optgroup>
                                            {% if (template_product_variables is defined and template_product_variables is not empty) %}
                                                {% for varKey,templateVar in template_product_variables %}
                                                    <option value="{{ varKey }}">{{ templateVar }}</option>
                                                {% endfor %}
                                            {% endif %}
                                            <optgroup label="Product Attributes"></optgroup>

                                            {% if (template_product_attributes is defined and template_product_attributes is not empty) %}
                                                {% for attr in template_product_attributes %}
                                                    <option value="{{ attr['attribute_id'] }}">{{ attr['name'] }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" onclick="addTempVariable()" class="btn btn-primary">Add Attribute</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="overlay">
    <div id="text"> LOADING.....</div>
</div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script>
    function addTempVariable() {
        var val = $("#template_variable_selector").val();
        if(val && val.trim() != '') {
            $("#template_data").summernote('insertText', val);
        }
    }
</script>
<style>
    .form-control {
        margin-bottom: 15px;
    }
</style>
<style type="text/css">
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }

    #text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .required {
        /*color: red;*/
        /*font-weight: bold;*/
    }

    .option_input {
        margin: 5px 14px 0 0;
        width: 40%;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        border-radius: 3px;
        color: #555555;
        height: 35px;
        margin-bottom: 15px;
        line-height: 1.42857143;
        padding: 8px 13px;
        font-size: 12px;
    }
</style>
{{ footer }}

