<!--
/**
* CedCommerce
*
* NOTICE OF LICENSE
*
* This source file is subject to the End User License Agreement (EULA)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://cedcommerce.com/license-agreement.txt
*
* @category  modules
* @package   cedshopee
* @author    CedCommerce Core Team
* @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
* @license   http://cedcommerce.com/license-agreement.txt
*/
-->
{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a onclick="startUploadAll();" data-toggle="tooltip" title="Start Upload Process" class="btn btn-primary">Start Upload Process</a>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ 'Back' }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        {# if ($error_warning) { #}
        <!-- <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div> -->
        {# } #}
        {# if ($success) { #}
        <!-- <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div> -->
        {# } #}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ 'Upload Products' }}</h3>
            </div>
            <div class="panel-body">
                <div class="content" style="height: 350px;overflow: auto; padding: 10px;">
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id="popup_content"><img src="view/image/cedebay/loader.gif">
                                <h2>Please wait processing ........</h2></div>
                        </div>
                    </div>
                    <ol id="progress"></ol>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>
<script type="text/javascript">
    var report_data = '{{ product_ids }}';
    var chunklimit = 100;
    report_data = JSON.parse(report_data);
    var chunk_array = [];
    $.each(report_data, function (key, value) {
        chunk_array.push(value);
    });
    chunked_array =[];
    while(chunk_array.length){
        chunked_array.push(chunk_array.splice(0,chunklimit));
    }
    chunked_array.reverse();

    function startUploadAll() {
        var clen=chunked_array.length;
        if(clen){
            modal.style.display = "block";
            sendUpdateRequest(chunked_array);
        }
    }

    function sendUpdateRequest(chunked_array){

        var len=chunked_array.length-1;
        if(chunked_array[len]) {
            var url = 'index.php?route=extension/module/cedebay/product/uploadallProcess&user_token='+'{{ user_token }}';
            $.ajax({
                type: "POST",
                url: url,
                data: { 'selected':chunked_array[len] },
                success: function(response){
                    if(response.success){
                        var obj = response;
                        if (obj.success && obj.success.length) {
                            var success_message = '';
                            for (var i in obj.success)
                            {
                                success_message+=obj.success[i] + '<br>';
                            }
                            $("#progress").append('<li class="info alert alert-success" >'+success_message+'</li>');
                        }
                        if (obj.error && obj.error.length) {
                            var error_message = '';
                            for (var i in obj.error)
                            {
                                error_message+=obj.error[i] + '<br>';
                            }
                            $("#progress").append('<li class="info alert alert-danger" >'+error_message+'</li>');
                        }
                        if(len!=0){
                            chunked_array.splice(len,1);
                            sendUpdateRequest(chunked_array,url);
                        }
                    } else {
                        $("#progress").append('<li class="info alert alert-danger">Error While Uploading Please Check</li>');
                    }
                    // console.log(len);
                    if (len==0) {
                        modal.style.display = "none";
                    }
                }
                ,
                statusCode: {
                    500: function(xhr) {
                        if(window.console) console.log(xhr.responseText);
                    },
                    400: function (response) {
                        $("#progress").append('<li class="info alert alert-danger">Error While Uploading Please Check</li>');
                    },
                    404: function (response) {

                        $("#progress").append('<li class="info alert alert-danger">Error While Uploading Please Check</li>');
                    }
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    if(window.console) console.log(xhr.responseText);
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);

                },
            });
        } else {
            $("#progress").append('<li class="info alert alert-info" > NO Report.</li>');
            modal.style.display = "none";
        }

    }
</script>
<style type="text/css">
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 20%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .info{
        font-size: 13px;
    }
</style>
<?php echo $footer; ?>